.clear {
  clear: both;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.timeline-comment-wrapper>.timeline-comment::before, .timeline-new-comment .timeline-comment::before {
    border-width: 8px;
    border-right-color: #ddd;
}
.timeline-comment-wrapper>.timeline-comment::after, .timeline-comment-wrapper>.timeline-comment::before, .timeline-new-comment .timeline-comment::after, .timeline-new-comment .timeline-comment::before {
    position: absolute;
    top: 11px;
    right: 100%;
    left: -16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
}

.timeline-comment-wrapper>.timeline-comment::after, .timeline-new-comment .timeline-comment::after {
    margin-top: 1px;
    margin-left: 2px;
    border-width: 7px;
    border-right-color: #f7f7f7;
}
.timeline-comment-wrapper>.timeline-comment::after, .timeline-comment-wrapper>.timeline-comment::before, .timeline-new-comment .timeline-comment::after, .timeline-new-comment .timeline-comment::before {
    position: absolute;
    top: 11px;
    right: 100%;
    left: -16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
}

.timeline-comment-wrapper:first-child {
  margin-top: 0;
}
.timeline-comment-wrapper {
  position: relative;
  padding-left: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.timeline-comment-avatar {
  float: left;
  margin-left: -60px;
  background-color: #f7f7f7;
  border-radius: 3px;
  /* border: 1px solid #ddd; */
  padding: 0 15px;
  font-size: 29px;
}

.timeline-comment-header .author {
  color: #555;
}

.timeline-comment {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.timeline-comment-header {
  padding-right: 15px;
  padding-left: 15px;
  color: #767676;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.timeline-comment-header-text {
  max-width: 78%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.timeline-comment-header .timestamp {
  color: inherit;
  white-space: nowrap;
}

.comment-body {
  width: 100%;
  padding: 15px;
  overflow: visible;
  font-size: 14px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}